/*html, body {*/
/*margin: 0;*/
/*padding: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*font-family: 'Merriweather';*/
/*text-align: center;*/
/*}*/

/*button, input, optgroup, select, textarea {*/
/*color: inherit;*/
/*font: inherit;*/
/*margin: 0;*/
/*}*/

/**
* Container
**/

/*.container {*/
/*width: 100%;*/
/*max-width: 750px;*/
/*display: inline-block;*/
/*text-align: left;*/
/*padding: 30px 30px 40px;*/
/*box-sizing: border-box;*/
/*}*/

/**
* Select
**/

/*select {*/
/*padding: 6px 28px 6px 6px;*/
/*-webkit-appearance: none;*/
/*-moz-appearance: none;*/
/*appearance: none;*/
/*box-sizing: border-box;*/
/*background: transparent;*/
/*-webkit-user-select: none;*/
/*-moz-user-select: -moz-none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*cursor: pointer;*/
/*border-radius: 4px;*/
/*background-image: url(caret.png);*/
/*border: 1px solid #ccc;*/
/*background-repeat: no-repeat;*/
/*background-size: 23px;*/
/*background-position: 95% 4px;*/
/*}*/

/**
* Inputs
**/

/*input[type=text],*/
/*input[type=password],*/
/*input[type=url],*/
/*input[type=email],*/
/*input[type=tel],*/
/*input[type=search],*/
/*input[type=number],*/
/*input[type=date],*/
/*input[type=month],*/
/*input[type=week],*/
/*input[type=datetime],*/
/*input[type=datetime-local] {*/
/*line-height: normal;*/
/*height: 20px;*/
/*padding: 6px;*/
/*border-radius: 4px;*/
/*border: none;*/
/*background: #efefef;*/
/*margin: 5px 0;*/
/*}*/

/**
* Chart scrolls
**/

.chart {
  max-width: 100%;
  overflow: auto;
}

/**
* Selects and Inputs
**/

/*.center-selects {*/
/*text-align: center;*/
/*margin-top: 20px;*/
/*}*/

/*.select-container {*/
/*display: inline-block;*/
/*}*/

/*.select-container select,*/
/*.select-container input {*/
/*font-size: 13px;*/
/*margin-right: 10px;*/
/*}*/

/*@media(max-width: 750px) {*/
/*.select-container {*/
/*width: 250px;*/
/*display: block;*/
/*text-align: right;*/
/*margin: 10px auto;*/
/*}*/
/*}*/

/**
* Tooltip
**/

.tooltip {
  position: absolute;
  z-index: -1;
  opacity: 0;
  background: #efefef;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  pointer-events: none;
}

/*
.tooltip * {
  display: inline-block;
}
*/

/*.tooltip .value {*/
/*color: #52beda;*/
/*font-weight: 800;*/
/*font-size: 24px;*/
/*vertical-align: bottom;*/
/*}*/

/**
* Y-Axis Label Tooltip
**/

.label-tooltip {
  position: absolute;
  z-index: -1;
  opacity: 0;
  background: white;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  pointer-events: none;
}

/**
* Chart axes
**/

.domain {
  fill: none;
  stroke: darkgray;
}

/*text {*/
/*font-family: 'courier';*/
/*font-size: 15px;*/
/*fill: #666;*/
/*}*/

/**
* Poet relationship chart
**/

/*.discrete-scatterplot-container {*/
/*position: relative;*/
/*}*/

/*@media(min-width: 900px) {*/
/*#discrete-scatterplot {*/
/*margin-left: -40px;*/
/*}*/
/*}*/

#bfoxplot .grid {
  fill: #eee;
}

.x.axis line,
.y.axis line {
  stroke: #fff;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

#bfoxplot line.neutral-line {
  stroke: #7f7f7f;
}

/*#discrete-scatterplot-tooltip {*/
/*width: 340px;*/
/*}*/

.box {
  font: 10px sans-serif;
  fill: #fff;
  stroke: #000;
  opacity: 1;
}

.range,
.whisker,
.median {
  fill: #fff;
  stroke: #000;
  opacity: 1;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3, 3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

#plot_title {
  margin-bottom: 0px;
}
