body {
  min-height: 200px;
  padding-top: 70px;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/*
.nav-pills > li + li:before {
    color: #222;
    content: ">>>";
}
*/

.nav-stacked > ul {
    margin-left: 30px;
}

/*
.nav-pills > li:before {
    content: "\\";
}
*/
