html  {
    padding: 0;
    margin: 0;

}


body {
    margin: 0;
    padding: 0;
    font: 0.8em "lucida grande", "lucida sans unicode", sans-serif;
/*    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 0.8em;*/
    line-height: 1.5em;
/*    background-color: #F8F8F4; */
    background: #FFFFFF;

}


#wrapper {
    position: relative;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 75px;
}


h1 { float: left; width: 750px; height: 70px; padding: 0 0 0 15px; margin: 0; }
h1 img { border: 0; padding: 0; margin: 0; }
h2 { padding: 30px 15px 5px 15px; margin: 0 15px 0 0; font-size: 1.75em; line-height: 1.2em; font-weight: normal;}
h2 span { color: #666; }
h3 { padding: 15px 15px 0 15px; margin: 0; font-size: 1em; line-height: 1.5em;   text-transform: uppercase; letter-spacing: .1em; font-weight: normal; }

h3 span {
    font-size: .8em;
    text-transform: uppercase;
}

h4 {
    padding: 15px 15px 0 15px;
    margin: 0;
    font-size: .95em;
    line-height: 1em;
    font-weight: bold;
}

h4.title {
    padding: 3px 15px 5px 15px;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
    font-style: italic;
    color: #666;
}

h5 {
    padding: 6px 15px 0 15px;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
    font-style: italic;
    color: #333;
}

p {
    padding: 5px 15px 5px 15px;
    margin: 0;
}

select {
 width: 390px;
}

#content {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 720px;
    color: #0c0c0c;
}

/* NAVIGATION */
#navigation { clear: both; font-size: 110%; float: left; width: 742px; background: #ccc; padding: 1px 5px; margin: 0; }
#navigation ul { padding: 0 0 0 10px; margin: 0; color: #0c0c0c; }
#navigation ul li { list-style-type: none; display: inline; padding: 1px 0 1px 0; margin: 0; }
#navigation li a { display: block; float: left; padding: 5px 15px; border-right: 1px solid white; color: #DD4D0F; text-decoration: none; } /* original orange: FF6011|alternate orange: E55310 */
#navigation li a:hover { color: #0c0c0c; text-decoration: none; }
#navigation span { display: block; float: left; padding: 5px 15px; color: #0c0c0c; border-right: 1px solid white;}



/* FOOTER */

#footer {
    text-align: left;
    clear: both;
    padding: 0;
    margin: 0;  
    font-size: .85em;
    color: #999;
}


   
#footer p { text-align: center;  margin: 0 auto; color: #C3C3C3; }
#footer a { color: #FF6011; text-decoration: none; border-bottom: 1px dotted #FF6011; }


/* home page content */
#feature {
    width: 750px;
    height: 250px;
    border: 1px dashed #ccc;
    position: relative;
    float: left;
    margin-bottom: 5px;
}

#three-column-container {
    width: 752px;
    margin: 0 auto;
}

#three-column-container div.col-left { }
#three-column-container div.col-centre {
    border-right: 1px dashed #BF480D; border-left: 1px dashed #BF480D;
    margin: 0 5px; padding: 0 5px;
}
#three-column-container div.col-right {}
#column { float: left; width: 240px; height: 300px; }
#column h2 { font-size: 1em; line-height: 1.5em; text-transform: uppercase; letter-spacing: 0.1em; font-weight: normal; }
#column .small-anchor { text-align: left; font-size: 75%; }
#column a { text-decoration: none; }
#column p { text-align: left; }
#column div.icon { padding: 0px; text-align: center; clear: both; }
#contact { font-size: 0.9em; }
#contact dl { padding-left: 15px; text-align: left; }
#contact dt { float: left; clear: left; width: 3.5em; }
#contact dd { margin-left: 0px; position: static; top: 0px; }
#contact img { border: none; padding: 0px; margin: 0px; }
/* Contact Page */
.form_wrapper { padding-left: 15px; }
span.important_field { color: #DD4D0F; vertical-align: top;}
td.form_label { padding-top: 3px; vertical-align: top; text-align: right; }
.input { color: #0c0c0c; background-color: white; border: 1px solid #C3C3C3; }

